*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

:root{
    --rede-color:#eb4034;
}

html,body,#root{
    min-height: 100%;
}

/* inicio */

.min-header p{
    padding: 10px;
    font-size: 1em;
    font-weight: normal;
    border-bottom: 1.3px solid #ccc;
    padding-bottom: 5px;
}

.min-header a{
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    transition: .3s ease;
    font-weight: bold;
    color: var(--rede-color);
}

.min-header a:hover{
    text-decoration: underline;
}


/* navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    height: 100px;
    background-color: #fafafa;
}

nav ul{
    display: flex;
    gap: 1em;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #363636;
}


.carrinho-compras{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrinho-compras svg{
    display: inline-block;
    padding: 10px;
    width: 45px;
    height: 45px;
    color: #fff;
    margin: 0 12px;
    background: var(--rede-color);
}


.price-cart{
    color: var(--rede-color);
    font-weight: bold;
}

.active{
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    background: var(--rede-color);
}

/* search-category */
.search-category{
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #4a5678;
}

.search-category form{
    width: 70%;
}

.search-category form select{
    width: 10%;
    height: 35px;
    outline: none;
    border: 1px solid #ccc;
}

.search-category form input[type=text]{
    width: 80%;
    height: 35px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 12px;
}

.search-category form input[type=text]:focus{
    border-color: #4a5678;
}

.search-category form button{
    width: 10%;
    height: 35px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: var(--rede-color);
}

.search-category form button svg{
    font-size: 1em;
}

/* home */
.row-container{
    padding: 30px;
    margin-top: 20px;
    display: flex;
    gap: 1em;
}

.row-left{
    width: 30%;
}

.row-perfil{
    width: 100%;
    height: 400px;
    padding: 40px;
    border: 1px solid #ccc;
    text-align: center;
}

.row-perfil img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 100%;
}


/* row right */
.row-right{
    width: 70%;
    height: 100%;
}



/* container register */
.container{
    max-width: 700px;
    width: 95%;
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    margin-bottom: 20px;
    box-shadow: 1px -1px 11px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px -1px 11px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px -1px 11px -1px rgba(0,0,0,0.75);
}

.container form{
    display: flex;
    flex-direction: column;
}

.container form label span{
    display: inline-block;
    font-size: 1em;
    margin-bottom: 10px;
}

.container form input:not([type=submit]){
    width: 100%;
    height: 30px;
    padding-left: 12px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 10px;
}


.container form input[type=submit]{
    width: 100px;
    height: 32px;
    border: 0;
    color: #fff;
    cursor: pointer;
    transition: .3s ease;
    background: var(--rede-color);
}

.container form input[type=submit]:hover{
    background: #c33026;
}


/* footer */
footer{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--rede-color);
    color: #fff;
}

footer span{
    font-weight: bold;
}