*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
    font-weight: 500;
}

:root{
    --rede-color:#eb4034;
}

html,body,#root{
    min-height: 100%;
}

/* inicio */

.min-header p{
    padding: 10px;
    font-size: 1em;
    font-weight: normal;
    border-bottom: 1.3px solid #ccc;
    padding-bottom: 5px;
}

.min-header a{
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    transition: .3s ease;
    font-weight: bold;
    color: var(--rede-color);
}

.min-header a:hover{
    text-decoration: underline;
}

.icon-mobile{
    display: none;
}


/* navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    height: 100px;
    background-color: #fafafa;
    border-bottom: 2px solid #4a5678;
}

nav .logo a{
    text-decoration: none;
    color: #363636;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 1em;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #363636;
}

/* perfil-content-user */
.perfil-content-user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid #ccc;
}

.top-user-perfil{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.top-user-perfil img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.carrinho-compras{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrinho-compras svg{
    display: inline-block;
    padding: 10px;
    width: 45px;
    height: 45px;
    color: #fff;
    margin: 0 12px;
    background: var(--rede-color);
}


.price-cart{
    color: var(--rede-color);
    font-weight: bold;
}

.active{
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    background: var(--rede-color);
}

a.auth-active{
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: bold;
}



/* search-category */
.search-category{
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #4a5678;
}

.search-category form{
    width: 70%;
}

.search-category form select{
    width: 10%;
    height: 35px;
    outline: none;
    border: 1px solid #ccc;
}

.search-category form input[type=text]{
    width: 80%;
    height: 35px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 12px;
}

.search-category form input[type=text]:focus{
    border-color: #4a5678;
}

.search-category form button{
    width: 10%;
    height: 35px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: var(--rede-color);
}

.search-category form button svg{
    font-size: 1em;
}

/* home */
.row-container{
    padding: 30px;
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
}

.row-left{
    width: 30%;
}

.row-perfil{
    width: 100%;
    height: 400px;
    padding: 40px;
    border: 1px solid #ccc;
    text-align: center;
}

.row-perfil img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 100%;
}


/* row right */
.row-right{
    width: 70%;
    height: 100%;
}



/* container register */
.container{

    max-width: 500px;
    min-height: 270px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    margin-bottom: 20px;
    box-shadow: 1px -1px 11px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -1px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 11px -1px rgba(0,0,0,0.75);
}


.container form label span{
    display: inline-block;
    font-size: 1em;
    margin-bottom: 10px;
}

.container form label{
    position: relative;
    font-size: 0.91em;
}



.container form input:not([type=submit]){
    width: 100%;
    height: 35px;
    padding-left: 12px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 0.9em;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
    transition: 0.2s ease;
}

.container form input[type=file]{
    padding: 6px;
}

.container form input:not([type=submit]):focus{
    border-color: #4a5678;
}

.input-password{
    display: inline-block;
    position: relative;
    width: 100%;
}

.container form label svg{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-25%);
    cursor: pointer;
    color: #363636;
}


.container form input[type=submit]{
    width: 100%;
    height: 35px;
    border: 0;
    color: #fff;
    cursor: pointer;
    transition: .3s ease;
    border-radius: 20px;
    background: var(--rede-color);
}

.container form input[type=submit]:disabled{
    cursor: not-allowed;
    background: #363636;
}

.container form input[type=submit]:hover{
    background: #c33026;
}

.logout{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid #ccc;
}

.logout:hover{
    color: #fff;
    background: #eb4034;
}

.info-container{
    position: relative;
    top: 10px;
}

.info-container p{
    font-size: 0.9em;
    font-weight: normal;
    letter-spacing: 0.2px;
}

.info-container a{
    color: #c33026;
    font-weight: bold;
}



/* produtos */
.container-produtos{
    max-width: 900px;
    margin: 0 auto;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
    height: 38px;
    cursor: pointer;
}

.button-container button{
    width: 100px;
    height: 100%;
    margin: 0 12px;
    border: 0;
    cursor: pointer;
    color: #fff;
    transition: .3s ease;
}

.create{
    background: #eb4034;
}

.create:hover{
    background: #a63831;
}

.list{
    background: #41cc70;
}

.list:hover{
    background: #339052;
}

.create-content{
    max-width: 1000px;
    width: 95%;
    background: #fff;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 1px -1px 11px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px -1px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 11px -1px rgba(0,0,0,0.75);
    margin-top: 20px;
    margin-bottom:20px ;
}

.create-content form{
    display: flex;
    flex-direction: column;
}

.create-content form label span{
    display: inline-block;
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 5px;
}

.create-content form input:not([type=submit]),
select,
textarea{
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.create-content textarea{
    padding: 10px;
    height: 120px;
    resize: none;
}

.create-content form input[type=submit]{
    width: 100px;
    height: 35px;
    border: 0;
    background: #eb4034;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    font-weight: normal;
    transition: .3s ease;
}

.create-content form input[type=submit]:hover{
    background: #a63831;
}

.file-content{
    display: flex;
    align-items: center;
    height: 35px;
    background: #a63831;
    color: #fff;
    cursor: pointer;
    border: 1px solid #ccc;
}

.file-content span{
    display: inline-block;
    width: 100%;
}

.list-product{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    margin-bottom: 30px;
}

.card-product-list{
  width:49%;
  height: 300px;
  border-radius: 2px;
  box-shadow: 1px -1px 11px -1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px -1px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 11px -1px rgba(0,0,0,0.75);
}

.top-card-product{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.image-card-product{
    width: 130px;
    height: 130px;
    border: 1px solid #ccc;
}

.image-card-product img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bottom-card-product{
    padding: 10px;
    text-align: center;
    border-top: 2px solid #ccc;
}

.bottom-card-product h3{
    font-size: 1em;
    font-weight: normal;
    padding: 5px 0;
    letter-spacing: 0.2px;
}

.bottom-card-product p{
    font-size: 0.9em;
    padding: 5px 0;
}

.buttons-card-product{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-card-product button{
    width: 100px;
    height: 35px;
    margin: 4px;
    cursor: pointer;
    border: 0;
    color: #fff;
}

.buttons-card-product button svg{
     font-size: 0.8em;
}






/* profile */
.top-container-perfil{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 100%;
}

.top-container-perfil img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: contain;
}

p.information-update{
    font-size: 0.9em;
    font-weight: normal;
    letter-spacing: 0.2px;
    margin: 5px 0;
}

.perfil-active{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #eb4034;
    border-radius: 100%;
}












/* media screen */
@media (max-width:950px){
    .row-container{
        flex-wrap: wrap;
    }

    .row-right,
    .row-left{
        width: 100%;
    }

    /* navbar */
    .icon-mobile{
        display: block;
        padding: 15px;
        cursor: pointer;
        border: 0;
        color: #fff;
        font-size: 1.4em;
        background: #eb4034;
        transition: .3s ease;
    }

    .icon-mobile:hover{
        background: #c33026;
    }

    nav ul{
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 135px;
        left: 0;
        width: 100%;
        height: 300px;
        background: #c33026;
        z-index: 3;
    }

    nav ul li{
        padding: 10px;
    }

    nav ul a{
        color: #fff;
    }
}


@media (max-width:560px){
    .min-header p{
     font-size: 0.9em;
    }

    nav ul{
        top: 130px;
    }
}

/* footer */
footer{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--rede-color);
    color: #fff;
}

footer span{
    font-weight: bold;
}